@charset "utf-8";
@use "variables" as v;

.onayami {

    padding: 48px 0;

    &__title {
        font-weight: normal;
        font-size: 12px;
        text-align: center;
    }

    &__container {
        display: grid;
        gap: 16px;
    }
    
    &__inner--left,
    &__inner--right {
        display: flex;
        justify-content: space-between;
    }

    &__img {
        max-width: 100px;
    }

    &__inner--right .onayami__img {
        order:2;
    }

    &__text--left {
        background-color: v.$gray;
        width: 195px;
        height: 100px;
        display: grid;
        place-content: center;
        place-items: center;
        border-radius: 10px;
        position: relative;
            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: -30px;
                border: 15px solid transparent;
                border-right: 15px solid v.$gray;
    
    
            }
    }
    &__text--right {
        background-color: v.$gray;
        width: 195px;
        height: 100px;
        display: grid;
        place-content: center;
        place-items: center;
        border-radius: 10px;
        position: relative;

        &::before {
            content:'';
            position: absolute;
            top:20%; 
            right: -30px;
            border: 15px solid transparent;
            border-left: 15px solid v.$gray;
        }
    }
    


}